<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GB_ASP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=GB-ERP-JAHANZAI;  &#xA;                             Initial Catalog=EAF;  &#xA;                             Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <add name="ComplaintConnectionString" connectionString="Data Source=GB-ERP-JAHANZAI;Initial Catalog=Complaint;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
    <add name="GBAX12ConnectionString" connectionString="Data Source=GBDBSVR.ghazibros.com;Initial Catalog=GBAX12;Persist Security Info=True;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <pages enableEventValidation="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime/>
    <!--<authentication mode="Windows"/>-->
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" showFlags="Date,Time,Extension,Size"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService1Soap" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:20409/WebService1.asmx" binding="basicHttpBinding" bindingConfiguration="WebService1Soap" contract="SalesReport.WebService1Soap" name="WebService1Soap">
        <identity>
          <userPrincipalName value="gbaxadmin@ghazibros.com"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <GB_ASP.Properties.Settings>
      <setting name="Division" serializeAs="String">
        <value>FEED TECH DIVISION</value>
      </setting>
      <setting name="SindhBranch" serializeAs="String">
        <value>KHO,HDC</value>
      </setting>
      <setting name="KHOBranch" serializeAs="String">
        <value>KHO</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>Admin</value>
      </setting>
    </GB_ASP.Properties.Settings>
  </applicationSettings>
</configuration>